#board {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 165px - 50px);
}

#board * {
    transition-duration: 0.5s;
}

#board .row {
    margin: auto;
    max-height: 70px;
    display: flex;
    margin-top: 0px;
}

#board .row[data-active] {
    margin-top: 20px;
}

#board .row[data-active] .cell {
    margin-inline: 10px;
}

#board .row[data-invalid] .cell {
    background-color: red;
    width: 70px;
}
